/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Styling for the header navigation bar */
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none; /* Remove the default bullet points */
    padding: 0; /* Remove any default padding */
}

nav li {
    margin-bottom: 10px; /* Add spacing between each list item vertically */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styling */
main {
    padding: 2em;
    background-color: #f8f8f8;
    min-height: 80vh;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    font-size: 0.8em;
}

* Projects Section Styling */
#projects {
    margin: 2em 0;
}

.project {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ddd;
}

.project h3 {
    color: #333;
}

.project img {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.project a {
    display: inline-block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}